<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.ico" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    {{ .CustomStyles}}

    <title>{{ .Title }}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light mb-3">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">MyHealth</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ .Constants.Menu_Food }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/food/journal" class="dropdown-item">{{ .Constants.Menu_Food_Journal }}</a>
                </li>
                <li>
                  <a href="/food" class="dropdown-item">{{ .Constants.Menu_Food_FoodList }}</a>
                </li>
                <li>
                  <a href="/food/stats" class="dropdown-item">{{ .Constants.Menu_Food_Stats }}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ .Constants.Menu_Weight }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/weight" class="dropdown-item">{{ .Constants.Menu_Weight_WeightList }}</a>
                </li>
                <li>
                  <a href="/weight/stats" class="dropdown-item">{{ .Constants.Menu_Weight_Stats }}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ .Constants.Menu_Activity }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/activity/journal" class="dropdown-item">{{ .Constants.Menu_Activity_Journal }}</a>
                </li>
                <li>
                  <a href="/activity" class="dropdown-item">{{ .Constants.Menu_Activity_SportList }}</a>
                </li>
                <li>
                  <a href="/activity/stats" class="dropdown-item">{{ .Constants.Menu_Activity_Stats }}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ .Constants.Menu_Finance }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/finance/bondcalc" class="dropdown-item">{{ .Constants.Menu_Finance_BondCalc }}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ .Constants.Menu_Settings }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/settings/calccal" class="dropdown-item">{{ .Constants.Menu_Settings_CalcCal }}</a>
                </li>
                <li>
                  <a href="/settings/user" class="dropdown-item">{{ .Constants.Menu_Settings_User }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>    
    <div class="container">