{{ template "header.html" . }}

<h3>{{ .Constants.Page_Settings_CalcCal }}</h3>
<form id="calc">
  <div class="mb-3">
    <label class="form-label">{{ .Constants.Settings_Gender }}</label>
    <div class="form-check">
      <input
        class="form-check-input"
        name="gender"
        value="m"
        type="radio"
        id="genderM"
        checked
      >
      <label class="form-check-label" for="genderM">{{ .Constants.Settings_GenderM }}</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        name="gender"
        value="f"
        id="genderF"
        type="radio"
      >
      <label class="form-check-label" for="genderF">{{ .Constants.Settings_GenderF }}</label>
    </div>
  </div>
  <div class="mb-3">
    <label for="weight" class="form-label">{{ .Constants.Settings_Weight }}</label>
    <input
      type="number"
      name="weight"
      min="0.1"
      step="0.1"
      class="form-control"
      required>
  </div>
  <div class="mb-3">
    <label for="height" class="form-label">{{ .Constants.Settings_Height }}</label>
    <input
      type="number"
      name="height"
      min="0.1"
      step="0.1"
      class="form-control"
      required>
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">{{ .Constants.Settings_Age }}</label>
    <input
      type="number"
      name="age"
      min="1"
      step="1"
      class="form-control"
      required>
  </div>
  <button type="submit" class="btn btn-primary">{{ .Constants.Common_Calc }}</button>
</form>

<table id="tblResult" class="table mt-3" display="none">
  <tbody>
  </tbody>
</table>

{{ template "footer.html" . }}